.searchbar {
	display: flex;
	position: relative;
	background-color: var(--light-bg);
}

input {
	border: none;
	outline: none;
	color: var(--text-dark);
	border-radius: var(--radius-small) 0 0 var(--radius-small);
	padding-left: 10px;

	&:focus {
		border: 1px solid var(--accent-color);
	}
}

.remove-left-border {
	border-radius: 0 var(--radius-small) var(--radius-small) 0;
}

.search-icon {
	position: absolute;

	bottom: 0;
	top: 0;
	margin: auto 0;
}
