button {
	background-color: var(--accent-color);
	padding: 10px;
	border: none;
	border-radius: var(--radius-small);
	display: flex;
	gap: 15px;
	align-items: center;
	color: inherit;
	font-weight: bold;
}

.border {
	border: 1px solid var(--text-light);
}

.icon {
	width: 1.2rem;
	height: 1.2rem;
}
