button {
	background-color: var(--accent-color);
	padding: 10px;
	border: none;
	border-radius: var(--radius-small);
	display: flex;
	gap: 15px;
	align-items: center;
	color: inherit;
	font-weight: bold;
}

.delete-btn {
	background-color: var(--delete-btn-bg);

	&:hover {
		background-color: var(--delete-btn-bg-hover);
	}
}

.icon {
	width: 1.2rem;
	height: 1.2rem;
}
