main {
	background-color: var(--products-bg);
	padding: 20px;
}

h2 {
	color: var(--text-dark);
}

main .wrapper section {
	background-color: var(--light-bg);
	padding: 20px 10px;
	border-radius: var(--radius-large);
	display: flex;
	flex-direction: column;
	min-width: 300px;
	gap: 15px;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.data {
	display: flex;
	gap: 20px;
	padding: 20px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.error {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	* {
		color: #cc0000;
	}
}
