.hero {
	background-color: var(--hero-bg);
	padding: 50px 0;
}

.hero .wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero .text-wrapper {
	font-size: 6.2rem;
	font-weight: 700;
}
.hero .subtitle {
	color: #ccc;
	font-size: 20px;
	font-style: italic;
}
