.hero {
	align-items: center;
	background-color: var(--hero-bg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 60px;
}

.hero .text-wrapper {
	font-size: 100px;
	font-weight: 700;
}
.subtitle {
	color: #ccc;
	font-size: 20px;
	font-style: italic;
}
