.cart .wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.products-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 50vh;

  .cart-message {
    color: var(--text-dark);
  }
}

.checkout {
  display: flex;
  justify-content: center;
  height: 50vh;
}
