.card {
	border: 1px solid var(--text-dark);
	width: 220px;
	max-height: 360px;
	border-radius: var(--radius-small);
	padding: 20px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #abb;
}

.card span,
.card p {
	color: var(--text-dark);
}

.title {
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.image-container {
	position: relative;
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: center;

	img {
		position: relative;
		max-width: 125px;
		width: 100%;
		margin-bottom: 15px;
		height: 200px;
		z-index: 200;
		border: 1px solid #bbb;
		border-radius: 2.5px;
	}
}

.book-info {
	width: 100%;
}

.book-buy {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

.bg {
	background-color: var(--green);
	width: 100%;
	height: 75%;
	position: absolute;
	left: 0;
	right: 0;

	bottom: 0;
	border-radius: var(--radius-small);
	margin: auto;
}
