header {
	background-color: var(--dark-bg);
	color: var(--text-light);
}

header .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

nav ul {
	display: flex;
	align-items: center;
	gap: 25px;
	font-size: var();
}
