:root {
    --dark-bg: #12343b;
    --general-bg: #12343b;
    --products-bg: #415d62;
    --hero-bg: #27445d;
    --destructive: #d3384d;
    --destructive-hover: #500711;

    --accent-color: #06494b;
    --light-accent-color: #075b5e;
    --text-dark: #222222;
    --text-light: #ddd;

    --size-paragraph: 1rem;
    --size-link: 1.5rem;
    --size-heading-1: 8rem;

    --main-font: lato;

    --radius-large: 10px;
    --radius-small: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font), sans-serif;
    color: var(--text-light);
    outline: none;
    transition: outline 0s;
    &:focus-visible {
        outline: 2px solid var(--light-accent-color);
        outline-offset: 2px;
        border-radius: var(--radius-small);
    }
}

html {
    height: 100vh;
}

#root {
    height: 100vh;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

button,
input[type="radio"] {
    cursor: pointer;
}

ul {
    list-style: none;
}

.wrapper section:first-child {
    background-color: var(--general-bg);
    padding: 40px 40px;
    border-radius: var(--radius-large);
    min-width: 300px;
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
}

.hover {
    transition: all 500ms;

    &:hover {
        transform: translateY(-3px);
    }
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 400ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

@media screen and (min-width: 1280px) {
    .wrapper {
        max-width: 1200px;
    }
}
